---
- name: Install otf-font-awesome
  pacman: name=otf-font-awesome state=present

- name: Create /home/{{ user.name }}/.local/src if it does not exist
  ansible.builtin.file:
    path: /home/{{ user.name }}/.local/src
    state: directory
    mode: '0755'

- name: Get dwmblocks
  ansible.builtin.git:
    repo: 'https://github.com/AndreasAZiegler/dwmblocks.git'
    version: own_config
    dest: "/home/{{ user.name }}/.local/src/dwmblocks"
  become: yes
  become_user: "{{ user.name }}"

- name: Run 'install' target as root
  community.general.make:
    chdir: "/home/{{ user.name }}/.local/src/dwmblocks"
    target: install
  become: yes
  become_user: "{{ user.name }}"

- name: Get dmenu
  ansible.builtin.git:
    repo: 'https://github.com/LukeSmithxyz/dmenu.git'
    dest: "/home/{{ user.name }}/.local/src/dmenu"
  become: yes
  become_user: "{{ user.name }}"

- name: Run 'install' target as root
  community.general.make:
    chdir: "/home/{{ user.name }}/.local/src/dmenu"
    target: install
  become: yes

- name: Install libxft-bgra
  aur:
    name: libxft-bgra
    user: "{{ user.name }}"
  tags:
    - aur

- name: Get st
  ansible.builtin.git:
    repo: 'https://github.com/AndreasAZiegler/st.git'
    version: own_config
    dest: "/home/{{ user.name }}/.local/src/st"
  become: yes
  become_user: "{{ user.name }}"

- name: Run 'install' target as root
  community.general.make:
    chdir: "/home/{{ user.name }}/.local/src/st"
    target: install
  become: yes

- name: Get dwm
  ansible.builtin.git:
    repo: 'https://github.com/AndreasAZiegler/dwm.git'
    version: own_config
    dest: "/home/{{ user.name }}/.local/src/dwm"
  become: yes
  become_user: "{{ user.name }}"

- name: Run 'install' target as root
  community.general.make:
    chdir: "/home/{{ user.name }}/.local/src/dwm"
    target: install
  become: yes

- name: Create xsessions profile directory
  file:
    path: /usr/share/xsessions
    state: directory

- name: Install dwm session profile
  copy: src=dwm.desktop dest=/usr/share/xsessions/dwm.desktop
